.wrapper {
  display: grid;
  row-gap: 0.3rem;
  .inputs {
    display: grid;
    row-gap: 0.5rem;
    .container {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      > input {
        cursor: pointer;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
